<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Job Finder Web - Website and Mobile Application</title>
    {% include 'includes/bootstrap_fa_links.html' %}

    <style>
      .img-banner {
        width: 100%;
        height: 360px;
        object-fit: cover;
        margin-bottom: 16px;
      }
    </style>
  </head>
  <body>
    {% include 'includes/header.html' %}

    <img
      class="img-fluid img-banner"
      src="{{ url_for('static', filename='images/people-working.jpg') }}"
      alt="People working"
    />

    <div class="container" style="padding: 40px 0">
      <h3 class="text-center">Job Listings</h3>

      <ul>
        {% for job in jobs %}
        <div class="row border-bottom" style="margin-bottom: 16px; padding-bottom: 8px">
          <div class="col-10">
            <h4 style="color: rgb(120, 120, 120); margin-bottom: 4px">{{job['title']}}</h4>
            <div><b>Location:</b> {{job['location']}}</div>
            {% if 'salary' in job %}
            <div><b>Salary:</b> {{job['currency']}} {{job['salary']}}</div>
            {% endif %}
          </div>
          <div class="col-2">
            <a href="/jobs/{{ job.id }}" type="button" class="btn btn-outline-primary">Apply</a>
          </div>
        </div>
        {% endfor %}
      </ul>
    </div>

    {% include 'includes/footer.html' %}

    <!-- Bootstrap JS -->
    <script src="bootstrap.js"></script>
  </body>
</html>
