<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Application Dashboard</title>
    <!-- Bootstrap CSS -->
    {% include 'includes/bootstrap_fa_links.html' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/dashboard.css') }}" />

    <style></style>
  </head>
  <body>
    <!-- Include the header -->
    {% include 'includes/dashboard-header.html' %}

    <div class="container-fluid">
      <div class="row">
        <!-- Include the sidebar -->
        {% include 'includes/sidebar.html' %}

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
          >
            <h1 class="h2">Dashboard</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group me-2">
                <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
            </div>
          </div>

          <h1 class="dashboard-title">Application Dashboard</h1>
          <div class="btn-container text-end">
            <button class="btn btn-primary print-btn" onclick="window.print()">Print Table</button>
            <a href="#" class="btn btn-success">Export CSV</a>
          </div>
          <div class="table-responsive">
            <!-- Wrap the table in a div with class 'table-responsive' -->
            <table class="table">
              <thead>
                <tr>
                  <th>Full Name</th>
                  <th>Email</th>
                  <th>LinkedIn URL</th>
                  <th>Education</th>
                  <th>Work Experience</th>
                  <th>Resume URL</th>
                </tr>
              </thead>
              <tbody>
                {% for application in applications %}
                <tr>
                  <td>{{ application.full_name }}</td>
                  <td>{{ application.email }}</td>
                  <td>{{ application.linkedin_url }}</td>
                  <td>{{ application.education }}</td>
                  <td>{{ application.work_experience }}</td>
                  <td>{{ application.resume_url }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </main>
      </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
  </body>
</html>
